body
{
    text-align: center;
    display: flex ;
    justify-content: center ;
    margin-top: 10% ;
}
.ticket, tr, td 
{
    border: 4px solid black;
}
tr,td
{
    border-radius: 15px;
}
td
{
    height: 90px;
    width: 90px;
    font-size: 35pt;
}
#tubelight
{
    height: inherit;
    width: inherit;
    border-radius: 50%;
}